html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--chakra-colors-darkBg-900);
}

@media screen and (max-width: 600px) {
  nav {
    display: none !important;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--chakra-colors-darkBg-800); /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #2894ec; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 2px solid rgba(0, 0, 0, 0.2); /* Border around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #1a77cd; /* Darker color of the scrollbar thumb on hover */
}

/* Button transitions */
button {
  transition: all 0.2s ease-in-out !important;
}

/* Form focus states */
input:focus, textarea:focus, select:focus {
  transition: all 0.2s ease-in-out;
}

/* Smooth animation for tabs */
.chakra-tabs__tab {
  transition: all 0.2s ease;
}

/* Add smooth hover transitions on all interactive elements */
a, button, .chakra-tag {
  transition: all 0.2s ease-in-out !important;
}
